/*root*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282b33;
    padding: 20px;
}

/*header bar*/
.header-bar {
    background-color: #af0000; /* Warna latar belakang Header bar */
    border-radius: 0px 0px 20px 20px;
    text-align: center; /* Teks berada di tengah */
    padding: 10px; /* Ruang di sekitar teks */
    position: fixed; /* Header tetap di bagian bawah layar */
    width: 100%; /* Lebarkan Header ke seluruh lebar layar */
    top: 0; /* Tempatkan di bagian atas panel */
    left: 0;/*Menempelkan ke kiri panel*/
    right: 0;/*Menempelkan ke kanan panel*/
    display: grid;
    grid-template-columns: 0fr 1fr; /* Masing-masing objek akan memakan setengah dari lebar container */
    grid-gap: 10px; /* Jarak antara objek */
}
.header-bar-text{
    color:#fff;
}

/*menu icon*/
.menu-icon {
    display: block;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #d8cccc;
    margin: 6px auto;
}

/*list product*/
.produk-list {
    background-color: #565963;
    margin: 5%;
    border-radius: 10pt;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding-top: 10pt;
}
.produk {
    background-color: #fff;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(33.33% - 20px); /* Mengatur tampilan 3 kolom pada tampilan desktop */
    margin-bottom: 20px;
}
.produk img {
    max-width: 100%;
    height: auto;
}
.produk-list .produk .produk-title{
    background-color: #af0000;
    padding: 10px;
    color: #fff;
    border-radius: 30px 5px 30px 5px;
}

/*text and other*/
#description{
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    font-size: 18px;
    color: #555;
    margin-top: 5px;
}

