/* stylesheet for product.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282b33;
    padding: 20px;
}

.produk-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    
}

.produk {
    background-color: #fff;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(33.33% - 20px); /* Mengatur tampilan 3 kolom pada tampilan desktop */
    margin-bottom: 20px;
}

.produk img {
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;
    color: white;
}

#description{
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    font-size: 18px;
    color: #555;
    margin-top: 5px;
}

.produk-list .produk .produk-title{
    background-color: #af0000;
    padding: 10px;
    color: #fff;
    border-radius: 30px 5px 30px 5px;
}